* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text], select, textarea, input[type=number], input[type=email] {
    width: 100%;
    color: #eee;
    background: #0d101c;
    padding: 12px;
    border: 1px solid #202429;
    border-radius: 4px;
    resize: vertical;
}

input[type=submit] {
    width: 100%;
    background-color: #dd6b55;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #f27474;
}

legend {
    display: none;
}

fieldset {
    border: none;
    margin: 10px;
}

.hidden {
    display: none;
}

.swal2-title {
    color: #f2483d;
}
/* FORM HEADER */

.order-flex-container {
    display: flex;
    justify-content: space-around;
    margin: 2% 10% 2% 10%;
    flex-wrap: wrap;
}

.order-flex-item {
    font-family: 'DrukText', sans-serif;
    color: #f2483d;
}
.order-flex-item img {
    max-width: 100%;
}
.order-flex-item.item-1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vinyl-flex-container {
    display: flex;
    justify-content: space-around;
}

.order-flex-item.item-2 {
    min-width: 30%;
}

.order-flex-item.title {
    text-align: left;
    margin-left: 10px;
    font-family: 'DrukText', sans-serif;
    color: #f2483d;
}
    
.order-flex-item.item-2 form {
    width: auto;
    margin: 0 auto;
}
.vinyl-flex-container img {
    max-height: 10vh;
}
#formModal .modal-dialog {
    width:100%;
    height: 100%;
}
#formModal .modal-header {
    border-bottom: none;
}
#formModal .modal-content {
    background-image: url('/img/bg-zrno.jpg');
    background-size: cover;
    height: 100%;
}
#error {
    color: white
}
#error::before {
    content: "-";
}
@media (min-width: 768px) {
    .modal-dialog {
        margin:0;
    }
}
