
</main>
<footer>
    <a href="https://www.facebook.com/buckesidi"><i class="fa fa-facebook"></i></a>
    <a href="https://www.instagram.com/buckesidi"><i class="fa fa-instagram"></i></a>
    <a href="https://www.youtube.com/channel/UC-Nf5yWLdVBaW9NXZrPTtjA"><i class="fa fa-youtube"></i></a>
    <a href="https://open.spotify.com/artist/0yujOFSHf3DlwirE8dsGuG"><i class="fa fa-spotify"></i></a>
    <a href="https://play.google.com/music/preview/Ai2ehfht5lvvx224lwceag6k7i4"><i class="fa fa-play"></i></a>
    <a href="https://buckesidi.bandcamp.com/"><i class="fa fa-bandcamp"></i></a>
    <a href="https://www.deezer.com/en/artist/9377916"><i class="fa fa-align-left fa-rotate-270"></i></a>
    <span>opravili: đe i majkro ♡</span>
</footer>
</body>
</html>