<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="sr" dir="ltr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Buč Kesidi</title>

    <link href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css' />
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro&display=block" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=block" rel="stylesheet">

    <link href='css/main.css?rev=7' rel='stylesheet' type='text/css' />
    <meta name="description" content="Zvanični sajt benda „Buč Kesidi“">
    <meta property="og:title" content="Buč Kesidi">
    <meta property="og:image" content="https://i.imgur.com/GTTyjpa.jpg">
    <link rel="icon" type="image/png" href="https://i.imgur.com/GTTyjpa.jpg" />
    <meta name="theme-color" content="#770023">
</head>

<body>
    <main>
