* {
  box-sizing: border-box;
}

:root {
    --bg-main-color: #f3eee4;
    --text-main-color: #19171b;
    --font-primary: 'Gustavo', sans-serif;
}
  
@font-face {
  font-family: 'Gustavo';
  src: url('/theme/fonts/Gustavo/Gustavo-Light.otf') format('opentype');
}

@font-face {
  font-family: 'GustavoMedium';
  src: url('/theme/fonts/Gustavo/Gustavo-Medium.otf') format('opentype');
  font-weight: 900;
}

@font-face {
  font-family: 'GustavoBold';
  font-weight: bold;
  src: url('/theme/fonts/Gustavo/Gustavo-Bold.otf') format('opentype');
}

html {
  background: #1E1E1E;
}

html,
body {
  background: #1E1E1E;
  margin: 0;
  min-height: 100vh;
  position: relative;
  font-size: calc(11px + (13 - 11) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 100;
  transform: translateZ(0);
}

body {
  background: url('/theme/img/BG_Desktop2.png') no-repeat center;
  background-size: cover;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gustavo', sans-serif;
  font-weight: bolder;
  letter-spacing: 4px;
  /* filter: contrast(1.1) sepia(10%); */
}




.item {
  border: none;
  height: 30vh;
  width: 30vh;
  margin: 1vh 1vw 1vh 1vw;
  position: relative;
  float: left;
}

.button {
  background-color: Transparent;
  border-bottom: 0.1em solid #f2483d;
  padding: 0.2em;
  color: #f2483d;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
}

h1,
p,
a,
h2,
footer a {
  font-size: 2.5rem;
  font-style: normal;
  text-decoration: none;
  font-family: var(--font-primary);
  font-weight: 900;
  letter-spacing: 3px;
  color: var(--bg-main-color);
  margin: 10px;
}

h1 {
  text-transform: uppercase;
  color: var(--bg-main-color);
  font-size: 3.2rem;
}

h2.hero-title a {
  font-family: var(--font-primary);
  font-weight: 900;
  letter-spacing: 4px;
  color: #f2483d;
}

main {
  /* width: 100%; */
  max-width: 995px;
  /* padding: 1rem; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#timer {
    display: flex;
    column-gap: 10px;
}

article {
  background: rgba(255, 255, 255, 0.2);
}

footer {
  margin: 2rem 0 0.5rem 0;
  text-align: center;
  position: absolute;
  bottom: 0;
}

footer a {
  font-size: 1.5rem;
  line-height: 1.7rem;
  margin-top: 0.3rem;
  margin-right: 0.8rem;
}

footer span {
  display: block;
  margin-top: 0.6rem;
  width: 100%;
  text-align: center;
  font-size: 0.6rem;
  color: rgba(238, 238, 238, 0.6);
}


.albums {
  display: flex;
  margin-top: -170px;
  width: 100vw;
  justify-content: space-evenly;
}

.albums > a {
  padding: 40px;
}

.album {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.album.sold {
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;

}


.album.sold::after {
  position: absolute;
  top: 50%;
  left: 10%;
  content: 'RASPRODATO';
  background-color: red;
  padding: 1px 8px;
  line-height: 1;
  height: 2.9rem;
  white-space: nowrap;
  color: var(--bg-main-color);
  display: inline-block;
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  transform: rotate(-40deg);
}

.album p {
  margin: 1px 20px;
}

.album .btn {
  margin-top: 20px;
  padding: 1px 28px;
  line-height: 1;
  height: 2.9rem;
  white-space: nowrap;
  width: fit-content;
  align-self: center;
}

.album__title {
  text-align: center;
}

.album__img {

}

.album__img img {
  width: 100%;
}

.album:hover p:not(.btn){
  color:rgba(238, 238, 238, 0.7);  
}

.album:hover .btn {
  background-color:rgba(238, 238, 238, 0.7);  
}

.btn {
  background-color: var(--bg-main-color);
  color: var(--text-main-color);
  margin-top: 20px;
}

@media screen and (max-width: 1174px) {
  .albums {
    flex-direction: column;
    margin-top: -80px;
    justify-content: space-around;
    height: 100vh;
  }

  .albums .btn {
    max-width: fit-content;
    align-self: center;
  }

  body {
    background: url('/theme/img/BG_Tablet.png') no-repeat center;
    background-size: cover;
  }
}

@media screen and (max-width: 960px) {
  .albums > a {
    padding: 5px
  }

  .album.sold::after {
    left: 0;
  }
}



@media screen and (max-width: 800px) {
  /* .albums {
    flex-wrap: wrap;
    margin-top: -80px;
  }

  body {
    background: url('/theme/img/BG_Tablet.png') no-repeat center;
    background-size: cover;
  } */
}


@media screen and (max-width: 560px) {
  body {
    /* background: url('/theme/img/buckesidi_tablet.jpg') no-repeat center; */
    background-size: cover;
  }

  .album img {
    height: 150px;
    width: auto;
  }
  
  h1 {
    font-size: 2.2rem;
  }

  h1, p, a, h2, footer a {
    font-size: 2rem;
  }

}


@media screen and (max-width: 400px) {

  .albums {
    margin-top: -65px;
  }

  .albums .btn {
    margin-top: 10px;
    height: 2rem;
  }

  .albums > a {
    margin: 0;
  }

  h1, p, a, h2, footer a {
    font-size: 1.5rem;
  }

  footer a {
    margin-right: 0;
  }
}


@media (max-width: 330px) {
  h1 {
    font-size: 2rem;
  }

  footer {
    letter-spacing: -1px;
  }

}

@media only screen and (max-width: 315px) {
  main {
    padding: 0;
  }
}


/* 
* Scroll animated *


#section07 a {
  padding-top: 80px;
}
#section07 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#section07 a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#section07 a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#section07 a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

 */
